div{
    background-color: red;
    margin: 5px;
    border:2px solid black;
}
p{
    background-color: green;
    clear:both;
}

#blue-background{
    background-color: blue;
}

#inline-block-1{
    display: inline-block;
    width: 25%;
}

#inline-block-2{
    display:inline-block;
    width:25%;
}

#inline-block-2{
    display: inline-block;
    width:65%;

}

#float-left{
    float: left;
    width: 20%;
}

#float-right{
    float: right;
    width: 20%;
}

#float-center{
 float:left;
 width: 50%;
}
